{% extends 'base.html' %}

{% block jumbotron %}

<!-- Jumbotron -->
      <div class="jumbotron">
        <h1>WELCOME TO MY HOUSE</h1>
        <p class="lead">Buy things. You'll like it.</p>
      </div>

{% endblock %}

{% block content %}

      {% for product in products %}
        {% cycle '<div class="row-fluid">' '' '' '' %}
        <div class='col-md-4'>
          
          <h3><a href='{% url "products" %}{{ product.slug }}'>{{ product }}</a></h3>
            {% for image in product.productimage_set.all %}
              {% if forloop.first %}
                <a href='{% url "products" %}{{ product.slug }}'><img src='{{ MEDIA_URL }}{{ image }}'/></a>
                {% endif %}
            {% endfor %}
          </br>
          {{ product.description }}
          {{ product.price }}

        </div>
        {% cycle '' '' '' '</div>' %}
        {% endfor %}




{% endblock %}
