{% extends 'base.html'%}

{% block javascript %}

<script type="text/javascript">
            // this identifies your website in the createToken call below
            Stripe.setPublishableKey('pk_test_51g5M86CSdfJrECtL876Rx2p');
 
            function stripeResponseHandler(status, response) {
                if (response.error) {
                    // re-enable the submit button
                    $('.submit-button').removeAttr("disabled");
                    // show the errors on the form
                    $(".payment-errors").html(response.error.message);
                } else {
                    var form$ = $("#payment-form");
                    // token contains id, last4, and card type
                    var token = response['id'];
                    // insert the token into the form so it gets submitted to the server
                    form$.append("<input type='hidden' name='stripeToken' value='" + token + "' />");
                    // and submit
                    form$.get(0).submit();
                }
            }
 
            $(document).ready(function() {
                $("#payment-form").submit(function(event) {
                    // disable the submit button to prevent repeated clicks
                    $('.submit-button').attr("disabled", "disabled");
                    var chargeAmount = 1000; //amount you want to charge, in cents. 1000 = $10.00, 2000 = $20.00 ...
                    // createToken returns immediately - the supplied callback submits the form if there are no errors
                    Stripe.createToken({
                        number: $('.card-number').val(),
                        cvc: $('.card-cvc').val(),
                        exp_month: $('.card-expiry-month').val(),
                        exp_year: $('.card-expiry-year').val()
                    }, chargeAmount, stripeResponseHandler);
                    return false; // submit from callback
                });
            });
 
            if (window.location.protocol === 'file:') {
                alert("stripe.js does not work when included in pages served over file:// URLs. Try serving this page over a webserver. Contact support@stripe.com if you need assistance.");
            }
        </script>

{% endblock %}

{% block content %}
    <div class="col-md-4 col-md-offset-4"
        <h2>Pay for your order</h2>
        <h3>Order total: ${{ cart.total }}</h3>
        <!-- to display errors returned by createToken -->
        <span class="payment-errors"></span>
        <form role='form' action="" method="POST" id="payment-form">{% csrf_token %}
            <div class="form-group">
                <label>Card Number</label>
                <input type="text" size="20" autocomplete="off" class="form-control card-number" placeholder='4242424242424242'/>
            </div>
            <div class="form-group">
                <label>CVC</label>
                <input type="text" size="4" autocomplete="off" class="form-control card-cvc" style='width:60px' placeholder='123'/>
            </div>
            <div class="form-group">
                <label>Expiration (MM/YYYY)</label>
                <input type="text" size="2" class="form-control card-expiry-month" style='width:60px' placeholder='09'/>
                <span> / </span>
                <input type="text" size="4" class="form-control card-expiry-year" style='width:60px' placeholder='15'/>
            </div>
            <button type="submit" class="btn btn-success">Submit Payment</button>
        </form>
    </div>

{% endblock %}